<template>
  <f7-page>
    <f7-navbar title="차계부" back-link="Back"></f7-navbar>

    <f7-block>
      <table>
        <thead>
          <tr>
            <th>2017년</th>
            <th>총지출</th>
            <th>300,000</th>
          </tr>
        </thead>
        <tbody>
          <tr @click="goTo()">
            <td>5월</td>
            <td>지출</td>
            <td>160,000</td>
          </tr>
          <tr @click="goTo()">
            <td>3월</td>
            <td>지출</td>
            <td>140,000</td>
          </tr>
        </tbody>
      </table>
    </f7-block>

    <f7-block>
      <f7-button outline fill href="/ledger/add/">등록</f7-button>
    </f7-block>
  </f7-page>
</template>

<script>
export default {
  methods : {
    goTo() {
      this.$f7router.navigate( '/ledger/list/' );
    }
  }
}
</script>

<style scoped>
table {
  width : 100%;
}
table, tr, td, th {
  border : 1px solid
}
</style>
