<template>
  <f7-page>
    <f7-navbar title="주유/세차 내역" back-link="Back"></f7-navbar>

    <f7-block>
      <f7-block-header>날짜</f7-block-header>
      <f7-input type="date"></f7-input>
    </f7-block>

    <f7-block>
      <f7-block-header>주유소</f7-block-header>
      <input type="text">
    </f7-block>

    <f7-block>
      <f7-block-header>주유/세차</f7-block-header>
      <select>
        <option value="주유">주유</option>
        <option value="세차">세차</option>
      </select>
    </f7-block>

    <f7-block>
      <f7-block-header>금액</f7-block-header>
      <input type="text">
    </f7-block>

    <f7-block>
      <f7-button outline fill @click="onModify()">수정</f7-button>
    </f7-block>
  </f7-page>
</template>

<script>
import * as moment from 'moment';

export default {
  data() {
    return {
      date : ''
    }
  },
  methods : {
    onModify() {
      
    }
  }
}
</script>
