<template>
  <f7-page>
    <f7-navbar title="주유/세차 내역" back-link="Back"></f7-navbar>

    <f7-list>
      <f7-list-item>
        <f7-row>
          <f7-col>
            <select v-model="selectedYear">
              <option value=''>선택하세요...</option>
              <option v-for="y in yearList" :key="y" :value="y">{{y}}년</option>
            </select>
          </f7-col>
          <f7-col>
            <select v-model="selectedMonth">
              <option value=''>선택하세요...</option>
              <option v-for="m in monthList" :key="m" :value="m">{{m}}월</option>
            </select>
          </f7-col>
        </f7-row>
      </f7-list-item>
      <f7-list-item>
        <select v-model="selectedType">
          <option value=''>전체</option>
          <option value='주유'>주유</option>
          <option value='세차'>세차</option>
        </select>
      </f7-list-item>
    </f7-list>

    <f7-block>
      <table>
        <thead>
          <tr>
            <th>선택</th>
            <th>날짜</th>
            <th>주유소</th>
            <th>주유/세차</th>
            <th>금액</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="radio" name="row"></td>
            <td>2017.05.31</td>
            <td>개나리 주유소</td>
            <td>주유</td>
            <td>50,000</td>
          </tr>
          <tr>
            <td><input type="radio" name="row"></td>
            <td>2017.05.31</td>
            <td>개나리 주유소</td>
            <td>주유</td>
            <td>50,000</td>
          </tr>
          <tr>
            <td><input type="radio" name="row"></td>
            <td>2017.05.31</td>
            <td>개나리 주유소</td>
            <td>주유</td>
            <td>50,000</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">합계</td>
            <td>88,000</td>
          </tr>
        </tfoot>
      </table>
    </f7-block>

    <f7-block>
      <f7-row>
        <f7-col>
          <f7-button outline fill href="/ledger/view/">수정</f7-button>
        </f7-col>
        <f7-col>
          <f7-button outline fill @click="onDelete()">삭제</f7-button>
        </f7-col>
      </f7-row>
    </f7-block>
  </f7-page>
</template>

<script>
import _ from 'lodash';

export default {
  data() {
    return {
      yearList : [],
      monthList : [],

      selectedYear : '',
      selectedMonth : '',
      selectedType : ''
    }
  },
  created() {
    this.yearList = _.range( 2010, 2019 );
    this.monthList = _.range( 1, 13 );
  },
  methods : {
    onDelete() {
      
    }
  }
}
</script>

<style scoped>
table { 
  width : 100%
}

table, tr, th, td {
  border : 1px solid
}
</style>
