<template>
  <f7-page>
    <f7-navbar title="차계부 등록" back-link="Back"></f7-navbar>

    <f7-list>
      <f7-list-item>
        <f7-label>주유/세차</f7-label>
        <f7-input type="select">
          <option value="주유">주유</option>
          <option value="세차">세차</option>
        </f7-input>
      </f7-list-item>
      <f7-list-item>
        <f7-label>날짜</f7-label>
        <f7-input type="date"></f7-input>
      </f7-list-item>
      <f7-list-item>
        <f7-label>주유소</f7-label>
        <f7-row>
          <f7-col><f7-input type="text"></f7-input></f7-col>
          <f7-col><f7-button outline @click="onSearch()">검색</f7-button></f7-col>
        </f7-row>
      </f7-list-item>
      <f7-list-item>
        <f7-label>유종</f7-label>
        <f7-input type="select">
          <option value="고급휘발유">고급휘발유</option>
          <option value="휘발유">휘발유</option>
          <option value="경유">경유</option>
        </f7-input>
      </f7-list-item>
      <f7-list-item>
        <f7-label>금액</f7-label>
        <f7-input type="number"></f7-input>
      </f7-list-item>
    </f7-list>

    <f7-block>
      <f7-button outline fill>등록</f7-button>
    </f7-block>
  </f7-page>
</template>

<script>
import * as moment from 'moment';
import SearchPopup from '../gasstation/pop-gass-search';

export default {
  data() {
    return {
      date : moment().format('YYYY-MM-DD'),
      stationId : null,
      station : '',
    }
  },
  methods : {
    onSearch() {
      this.$popupManager.open( SearchPopup ).promise.then( ret => {
        console.log( ret );
        // this.stationId = ret.gass.UNI_ID;
        // this.station = ret.gass.OS_NM;
      })
    }
  }
}
</script>
