<template>
  <f7-page>
    <f7-navbar title="포인트 & 쿠폰" back-link="Back"></f7-navbar>
    <f7-toolbar tabbar>
      <f7-link tab-link="#point-list-point" tab-active>세차포인트</f7-link>
      <f7-link tab-link="#point-list-coupon">세차쿠폰</f7-link>
    </f7-toolbar>
    <f7-tabs>
      <f7-tab id="point-list-point">
      </f7-tab>
      <f7-tab id="point-list-coupon">
      </f7-tab>
    </f7-tabs>
  </f7-page>
</template>

<script>
export default {

}
</script>
