<template>
  <f7-page>
    <f7-navbar title="개나리 주유소" back-link="Back"></f7-navbar>
    <f7-toolbar tabbar>
      <f7-link tab-link="#point-view-pointlist" tab-active>포인트 내역</f7-link>
      <f7-link tab-link="#point-view-pointinfo">포인트 안내</f7-link>
    </f7-toolbar>
    <f7-tabs>
      <f7-tab id="point-list-pointlist">
      </f7-tab>
      <f7-tab id="point-list-pointinfo">
      </f7-tab>
    </f7-tabs>
  </f7-page>  
</template>

<script>
export default {
  
}
</script>
