<template>
  <f7-page>
    <f7-navbar title="주문하기" back-link="Back"></f7-navbar>

    <f7-block>개나리 주유소</f7-block>

    <select-gas-type v-model="orderInfo.gasInfo"></select-gas-type>

    <select-discount v-model="orderInfo.discountInfo"></select-discount>

    <select-etc v-model="orderInfo.etcInfo"></select-etc>

    <show-pay-amount :value="orderInfo"></show-pay-amount>

    <select-pay-type v-model="orderInfo.payInfo"></select-pay-type>

    <f7-block>
      <f7-button outline fill @click="onPay()">결제하기</f7-button>
    </f7-block>
  </f7-page>
</template>

<script>
import SelectGasType from './SelectGasType';
import SelectDiscount from './SelectDiscount';
import SelectEtc from './SelectEtc';
import ShowPayAmount from './ShowPayAmount';
import SelectPayType from './SelectPayType';

export default {
  components : {
    'select-gas-type' : SelectGasType,
    'select-discount' : SelectDiscount,
    'select-etc' : SelectEtc,
    'show-pay-amount' : ShowPayAmount,
    'select-pay-type' : SelectPayType
  },
  data() {
    return {     
      orderInfo : {
        gasInfo : {
          gasType : '',
          refuelBy : '',
          refuelAmount : '',
          refuelAmountDirect : ''
        },
        discountInfo : {

        },
        etcInfo : {

        },
        washInfo : {
          washType : '',
          coupone : '',
          point : ''
        },
        payInfo : {
          payWith : '',
          installment : 'lumpsum'
        }
      }
    }
  },
  methods : {
    validate() {
      if( !this.orderInfo.gasInfo.gasType ) return '유종을 선택하세요.';
      if( !this.orderInfo.gasInfo.refuelBy ) return '주유방식을 선택하세요.';
      if( !this.orderInfo.gasInfo.refuelAmount &&
          !this.orderInfo.gasInfo.refuelAmountDirect ) return '주유량을 선택하세요.';
      if( !this.orderInfo.payInfo.payWith ) return '결제수단을 선택하세요.';
      if( !this.orderInfo.payInfo.installment ) return '할부기간을 선택하세요.';
      return null;
    },
    onPay() {
      console.log( this.orderInfo );

      let err = this.validate();
      if( err ) {
        this.$f7.toast
            .create({
              text: err,
              closeButton: true,
              closeButtonText: 'Close',
              closeButtonColor: 'red',
              closeTimeout: 3000
            })
            .open();
      } else {
        this.$f7router.navigate( '/order/complete/', {
          reloadCurrent : true
        });
      }
    }
  }
}
</script>
