<template>
  <f7-page>
    <f7-navbar title="주문하기" back-link="Back"></f7-navbar>
    <f7-block>
      <f7-button href="/order/gas/" raised big fill>주유</f7-button>
    </f7-block>
    <f7-block>
      <f7-button href="/order/gaswash/" raised big fill>주유+세차</f7-button>
    </f7-block>
    <f7-block>
      <f7-button href="/order/wash/" raised big fill>세차</f7-button>
    </f7-block>
  </f7-page>
</template>

<script>
export default {
  
}
</script>
