<template>
  <f7-page>
    <f7-navbar title="결제완료" back-link="Back"></f7-navbar>
    
    <f7-block>개나리 주유소</f7-block>

    <f7-block>
      결제가 정상적으로 완료되었습니다.
    </f7-block>

    <f7-block>
      <f7-button outline fill>주문내역 이동</f7-button>
    </f7-block>
  </f7-page>
</template>

<script>
export default {
  
}
</script>
