<template>
  <f7-block>
    <f7-block-header>세차 및 포인트/쿠폰 적용</f7-block-header>
    <select>
    </select>

    <select>
    </select>

    <select>
    </select>
  </f7-block>
</template>

<script>
export default {
  // washInfo : {
  //   washType : '',
  //   coupone : '',
  //   point : ''
  // },
  props : [ 'value' ],
  created() {

  },
  methods : {
    copyFromValue() {

    },
    notifyChange() {
      
    }
  },
  watch : {
    'value' : function( to ) {

    }
  }
}
</script>
