<template>
  <f7-block>
    <f7-block-header>할인선택</f7-block-header>
    <select>
      <option>AAA</option>
      <option>BBB</option>
    </select>
  </f7-block>
</template>

<script>
export default {
  props : [ 'value' ]
}
</script>
