<template>
  <f7-block>
    <f7-block-header>결제 수단</f7-block-header>
    <f7-row>
      <f7-col>
        <f7-button v-if="payWith==='creditcard'" outline fill>신용카드</f7-button>
        <f7-button v-else outline @click="selectPayWith('creditcard')">신용카드</f7-button>
      </f7-col>
      <f7-col>
        <f7-button v-if="payWith==='appcard'" outline fill>앱카드</f7-button>
        <f7-button v-else outline @click="selectPayWith('appcard')">앱카드</f7-button>
      </f7-col>
    </f7-row>
    <f7-row>
      <f7-col>
        <select>
          <option>일시불</option>
        </select>
      </f7-col>
    </f7-row>
  </f7-block>
</template>

<script>
export default {
  // value : {
  //   payWith : 'creditcard', //'appcard'
  //   installment : 'lumpsum', //1, 2, 3, 4...
  // }
  props : [ 'value' ],
  data() {
    return {
      payWith : '',
      installment : ''
    }
  },
  created() {
    this.copyFromValue();
  },
  methods : {
    selectPayWith( pay ) {
      this.payWith = pay;
      this.notifyChange();
    },
    copyFromValue() {
      if( this.value ) {
        this.payWith = this.value.payWith;
        this.installment = this.value.installment;
      } else {
        this.payWith = '';
        this.installment = '';
      }
    },
    notifyChange() {
      this.$emit( 'input', {
        payWith : this.payWith,
        installment : this.installment
      })
    }
  },
  watch : {
    'value' : function( to ) {
      this.copyFromValue();
    }
  }
}
</script>
