<template>
  <f7-block>
    <f7-block-header>유종 및 금액 선택</f7-block-header>

    <f7-row>
      <f7-col>
        <f7-button v-if="gasType==='high'" outline fill>고급휘발유</f7-button>
        <f7-button v-else outline @click="selectGasType('high')">고급휘발유</f7-button>
      </f7-col>
      <f7-col>
        <f7-button v-if="gasType==='gasoline'" outline fill>휘발유</f7-button>
        <f7-button v-else outline @click="selectGasType('gasoline')">휘발유</f7-button>
      </f7-col>
      <f7-col>
        <f7-button v-if="gasType==='diesel'" outline fill>경유</f7-button>
        <f7-button v-else outline @click="selectGasType('diesel')">경유</f7-button>
      </f7-col>
    </f7-row>
    
    <br />
    
    <f7-row>
      <f7-col>
        <f7-button v-if="refuelBy==='money'" outline fill>주유금액</f7-button>
        <f7-button v-else outline @click="selectRefuelBy('money')">주유금액</f7-button>
      </f7-col>
      <f7-col>
        <f7-button v-if="refuelBy==='liter'" outline fill>주유리터</f7-button>
        <f7-button v-else outline @click="selectRefuelBy('liter')">주유리터</f7-button>
      </f7-col>
    </f7-row>
    
    <br />

    <f7-row v-if="refuelBy==='money'">
      <f7-col v-for="v in moneyList" :key="v" width="30%">
        <f7-button v-if="refuelAmount===v" outline fill>{{v}}</f7-button>
        <f7-button v-else outline @click="selectAmount(v)">{{v}}</f7-button>
      </f7-col>
    </f7-row>
    <f7-row v-if="refuelBy==='liter'">
      <f7-col v-for="v in literList" :key="v" width="30%">
        <f7-button v-if="refuelAmount===v" outline fill>{{v}}</f7-button>
        <f7-button v-else outline @click="selectAmount(v)">{{v}}</f7-button>
      </f7-col>
    </f7-row>

    <f7-row v-if="refuelBy==='money' || refuelBy==='liter'">
      <f7-col>
        <f7-label>직접입력</f7-label>
        <f7-input type="number" placeholder="입력하세요"></f7-input>
      </f7-col>
    </f7-row>
  </f7-block>
</template>

<script>
import _ from 'lodash';

export default {
  // value : {
  //   gasType : 'gasoline', //'high', 'diesel'
  //   refuelBy : 'money', //'liter'
  //   refuelAmount : '',
  //   refuelAmountDirect : ''
  // },
  props : [ 'value', 'readonly' ],
  data() {
    return {
      moneyList : [ '10000', '40000', '50000', 'FULL' ],
      literList : [ '10', '20', '30' ],

      gasType : '',
      refuelBy : '',
      refuelAmount : '',
      refuelAmountDirect : ''
    }
  },
  created() {
    this.copyFromValue();
  },
  methods: {
    selectGasType( gas ) {
      if( this.readonly )
        return;

      this.gasType = gas;
      this.notifyChange();
    },
    selectRefuelBy( by ) {
      if( this.readonly )
        return;

      this.refuelBy = by;

      if( this.refuelBy === 'money' ) {
        this.refuelAmount = this.moneyList[0];
      } else {
        this.refuelAmount = this.literList[0];
      }

      this.notifyChange();
    },
    selectAmount( amount ) {
      if( this.readonly )
        return;

      this.refuelAmount = amount;
      this.notifyChange();
    },
    copyFromValue() {
      if( this.value ) {
        this.gasType = this.value.gasType;
        this.refuelBy = this.value.refuelBy;
        this.refuelAmount = this.value.refuelAmount;
        this.refuelAmountDirect = this.value.refuelAmountDirect;
      } else {
        this.gasType = '';
        this.refuelBy = '';
        this.refuelAmount = '';
        this.refuelAmountDirect = '';
      }
    },
    notifyChange() {
      if( this.readonly )
        return;
        
      this.$emit( 'input', {
        gasType : this.gasType,
        refuelBy : this.refuelBy,
        refuelAmount : this.refuelAmount,
        refuelAmountDirect : this.refuelAmountDirect
      })
    }
  },
  watch : {
    'gasInfo' : function( to ) {
      this.copyFromValue();
    }
  }
}
</script>
