<template>
  <f7-block>
    <f7-block-header>유류외 상품선택</f7-block-header>
    <select>
      <option>불스원샷</option>
      <option>BBB</option>
    </select>
  </f7-block>
</template>

<script>
export default {
  props : [ 'value' ]
}
</script>
