<template>
  <f7-block>
    <f7-block-header>결제 예정 금액</f7-block-header>
    <table border="1">
      <thead>
        <tr>
          <th>항목</th>
          <th>금액</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>주유금액</td>
          <td>10,000</td>
        </tr>
        <tr>
          <td>특별할인</td>
          <td>10,000</td>
        </tr>
        <tr>
          <td>불스원샷</td>
          <td>10,000</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>합계</td>
          <td>17,000</td>
        </tr>
      </tfoot>
    </table>
  </f7-block>
</template>

<script>
export default {
  props : [ 'value' ]
}
</script>
