<template>
  <f7-page>
    <f7-navbar>
      <f7-nav-left>
        <f7-link icon-if-ios="f7:menu" icon-if-md="material:menu" panel-open="left"></f7-link>
      </f7-nav-left>
      <f7-nav-title>스마트 주유</f7-nav-title>
      <!-- <div class="right">
        <a class="link icon-only searchbar-enable" data-searchbar=".searchbar-demo">
          <i class="icon f7-icons ios-only">search_strong</i>
          <i class="icon material-icons md-only">search</i>
        </a>
      </div>
      <form data-search-container=".search-list" data-search-in=".item-title" class="searchbar searchbar-expandable searchbar-demo searchbar-init">
        <div class="searchbar-inner">
          <div class="searchbar-input-wrap">
            <input type="search" placeholder="Search"/>
            <i class="searchbar-icon"></i>
            <span class="input-clear-button"></span>
          </div>
          <span class="searchbar-disable-button">Cancel</span>
        </div>
      </form> -->
    </f7-navbar>
    <f7-swiper class="main-event" navigation>
      <f7-swiper-slide>Event 1</f7-swiper-slide>
      <f7-swiper-slide>Event 2</f7-swiper-slide>
      <f7-swiper-slide>Event 3</f7-swiper-slide>
    </f7-swiper>
    <a href="/gass-search/" class="main-link">
      <span class="main-link-item">주유소 찾기 & 예약</span>
    </a>
    <a href="/order/" class="main-link link2">
      <span class="main-link-item">주유 주문하기</span>
    </a>
    <div class="main-row">
      <div class="row-item">
        <span class="row-item-link">
          <f7-icon material="star" size="18"></f7-icon>
          단골 주유소
        </span>
      </div>
      <div class="row-item">
        <span class="row-item-link">
          <f7-icon material="query_builder" size="18"></f7-icon>
          최근 주유소
        </span>
      </div>
    </div>
    <f7-toolbar tabbar labels bottom-md>
      <f7-link icon-f7="navigation" text=" "></f7-link>
      <f7-link icon-f7="star" text=" "></f7-link>
      <f7-link icon-f7="money_dollar" text=" " href="/point/"></f7-link>
      <f7-link icon-f7="person" text=" " @click="onLogin()"></f7-link>
    </f7-toolbar>
  </f7-page>
</template>
<script>

export default {
  data: () => ({
    isLogin: false
  }),
  created() {
    this.isLogin = this.$store.state.isLogin;
  },
  methods: {
    onLogin() {
      this.$store.dispatch( "showLogin", true );
    },
    logout() {
    }
  }
}
</script>