<template>
  <f7-page>
    <f7-navbar title="글쓰기" back-link="Back"></f7-navbar>
    <form @submit.prevent="addBoard">
      <f7-list>
        <f7-list-item>
          <f7-label>제목</f7-label>
          <f7-input type="text" :value="title" @input="title = $event.target.value" placeholder="제목을 입력해 주세요"></f7-input>
        </f7-list-item>
        <f7-list-item>
          <f7-label>내용</f7-label>
          <f7-input type="textarea" :value="body" @input="body = $event.target.value" placeholder="내용을 입력해 주세요"></f7-input>
        </f7-list-item>
        <button class="col button-fill button-big button-raised button">add board</button>
      </f7-list>
    </form>
  </f7-page>
</template>

<script>
export default {
  data: () => ({
    name: 'test',
    title: null,
    body: null
  }),
  methods: {
    addBoard() {
      const { name, title, body } = this;
      this.$f7.preloader.show();
      db.database().ref('boards').push({
        name,
        title,
        body
      });
      this.$f7.preloader.hide();
      this.$f7router.navigate('/board/');
    }
  }
}
</script>
