<template>
  <f7-page>
    <f7-navbar title="공지사항" back-link="Back"></f7-navbar>
    <f7-searchbar
      disable-link-text="Cancel"
      placeholder="Search in items"
      :clear-button="true"
    ></f7-searchbar>
    <div class="list media-list">
      <ul>
        <li v-for="board in boards" :key="board.ntceId">
          <a target="_blank" :href="board.ntceUrl" class="item-link">
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">{{board.title}}</div>
                  <div class="item-after">{{board.ntceDt}}</div>
                </div>
                <div class="item-text">{{board.ntceSntnc}}</div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </f7-page>
</template>

<script>
import _ from 'lodash';

export default {
  data() {
    return {
      boards: null
    }
  },
  async created() {
    this.$f7.preloader.show();
    this.boards = (await notice.selectListNoticeBySearchKeywordLimit('국내')).data.items;;
    //this.boards = Object.assign({}, snap);
    this.$f7.preloader.hide();
  },
  computed: {
    orderBoards() {
      let newObj = {};
      _.keys(this.boards).sort().reverse()
      .forEach((key) => {
        newObj[key] = this.boards[key]
      });
      return newObj;
    }
  }
}
</script>