<template>
  <f7-page>
    <f7-navbar title="공지사항" back-link="Back"></f7-navbar>
    <f7-block-title>{{board.title}}</f7-block-title>
    <f7-block strong>
      <p>{{board.body}}</p>
    </f7-block>
  </f7-page>
</template>

<script>
export default {
  data() {
    return {
      board: {
        title: null,
        body: null
      }
    }
  },
  async created() {
    this.$f7.preloader.show();
    const paramsId = this.$f7route.params.id;
    db.database().ref(`/boards/${paramsId}`).once('value', res => {
      this.board = res.val();
    });
    this.$f7.preloader.hide();
  },
  methods: {
    sort() {
      console.log('asd');
    }
  }
}
</script>