<template>
  <f7-page>
    <f7-navbar title="메뉴"></f7-navbar>
    
    <f7-list>
      <f7-list-item link="/refuel/" title="주유" panel-close></f7-list-item>
      <f7-list-item link="/refuel/display/" title="급유현황" panel-close></f7-list-item>
      <f7-list-item link="/cservice/" title="고객센터" panel-close></f7-list-item>
      <f7-list-item link="/serviceinfo/" title="서비스 안내" panel-close></f7-list-item>
      <f7-list-item link="/ledger/" title="차계부" panel-close></f7-list-item>
      <f7-list-item link="/my/" title="마이페이지" panel-close></f7-list-item>
    </f7-list>
  </f7-page>
</template>
<script>
export default {

}
</script>
