<template>
  <!-- Login Screen -->
  <f7-login-screen id="login-screen" :opened="isShown">
    <f7-view>
      <f7-page login-screen>
        <f7-login-screen-title>Login</f7-login-screen-title>
        <form @submit.prevent="checkForm">
          <f7-list>
            <f7-list-item>
              <f7-label>Email</f7-label>
              <f7-input
                type="text"
                ref="email"
                data-vv-name="email"
                :value="email"
                @input="email = $event.target.value"
                v-validate="'required|email'"
                placeholder="email">
              </f7-input>
            </f7-list-item>
            <f7-list-item>
              <f7-label>Password</f7-label>
              <f7-input
                type="password"
                ref="password"
                data-vv-name="password"
                :value="password"
                @input="password = $event.target.value"
                v-validate="'required'"
                placeholder="Password">
              </f7-input>
            </f7-list-item>
          </f7-list>
          <f7-list class="btn-list">
            <button class="button-fill button-big color-blue button"
                    @click="onLogin()">로그인</button>
          </f7-list>
        </form>
        <f7-list class="btn-list">
          <f7-block-title>소셜 로그인</f7-block-title>
          <f7-button big fill color="yellow" @click="kakao">카카오계정 로그인</f7-button>
          <f7-button big fill color="green" @click="naver">네이버계정 로그인</f7-button>
          <f7-button big fill color="blue" @click="facebook">페이스북계정 로그인</f7-button>
        </f7-list>
      </f7-page>
    </f7-view>
  </f7-login-screen>
</template>

<script>
export default {
  data: () => ({
    email: '',
    password: ''
  }),
  computed: {
    isShown : function() {
      return this.$store.getters.isLoginShown;
    }
  },
  methods: {
    onLogin() {
      this.$store.dispatch('setAuth', { token : 'aaa', user : 'my-user' } );
    },
    checkForm() {
      /*const { $f7, $validator, login, $refs } = this;

      $validator.validateAll().then(result => {
        if (result) {
          login();
          return;
        }
        
        // auto error input focus
        const errInp = $validator.errors.items[0].field;
        $refs[errInp].$el.children[0].focus();

        // toast error
        $f7.toast
          .create({
            text: $validator.errors.items[0].msg,
            closeButton: true,
            closeButtonText: 'Close',
            closeButtonColor: 'red',
            closeTimeout: 3000
          })
          .open();
      });*/
    },
    login() {
      /*const { email, password, $f7 } = this;

      $f7.preloader.show();
      db
        .auth()
        .signInWithEmailAndPassword(email, password)
        .then(() => {
          $f7.preloader.hide();
          $f7.loginScreen.close();
        })
        .catch(error => {
          $f7.toast
            .create({
              text: error.message,
              closeButton: true,
              closeButtonText: 'Close',
              closeButtonColor: 'red',
              closeTimeout: 3000
            })
            .open();
          $f7.preloader.hide();
        });*/
    },
    kakao() { this.$store.dispatch( 'showLogin', false ) },
    naver() { this.$store.dispatch( 'showLogin', false ) },
    facebook() { this.$store.dispatch( 'showLogin', false ) }
  }
};
</script>