<template>
  <f7-page>
    <f7-navbar title="회원가입" back-link="Back"></f7-navbar>
    <form @submit.prevent="checkForm">
      <f7-list>
        <f7-list-item>
          <f7-label>이메일</f7-label>
          <f7-input
            type="text"
            ref="email"
            name="email"
            :value="email"
            @input="email = $event.target.value"
            v-validate="'required|email'"
            placeholder="이메일을 입력해 주세요"
            data-vv-as="이메일"
          ></f7-input>
        </f7-list-item>
        <f7-list-item>
          <f7-label>비밀번호</f7-label>
          <f7-input
            type="password"
            ref="password"
            name="password"
            data-vv-name="password"
            :value="password"
            @input="password = $event.target.value"
            v-validate="'required|min:8|'"
            placeholder="비밀번호를 입력해 주세요"
            data-vv-as="비밀번호">
          </f7-input>
        </f7-list-item>
        <f7-list-item>
          <f7-label>비밀번호확인</f7-label>
          <f7-input
            type="password"
            ref="password_confirmation"
            name="password_confirmation"
            data-vv-name="password_confirmation"
            :value="password_confirmation"
            @input="password_confirmation = $event.target.value"
            v-validate="'required|min:8|confirmed:password'"
            placeholder="비밀번호를 다시 입력해 주세요"
            data-vv-as="비밀번호">
          </f7-input>
        </f7-list-item>
        <!-- <f7-list-item>
          <f7-label>휴대폰번호</f7-label>
          <f7-input type="tel" placeholder="휴대폰번호를 입력해 주세요"></f7-input>
        </f7-list-item>
        <f7-list-item>
          <f7-label>차량번호</f7-label>
          <f7-input type="tel" placeholder="차량번호를 입력해 주세요"></f7-input>
        </f7-list-item>
        <f7-list-item>
          <f7-label>유종</f7-label>
          <f7-input type="select">
            <option selected>Male</option>
            <option>Female</option>
          </f7-input>
        </f7-list-item>
        <f7-list-item>
          <f7-label>차종</f7-label>
          <f7-input type="select">
            <option selected>Male</option>
            <option>Female</option>
          </f7-input>
        </f7-list-item>-->
      </f7-list>

    <!--<f7-block-title>Checkbox group</f7-block-title>
    <f7-list form>
      <f7-list-item v-for="n in 3" :key="n" checkbox name="my-checkbox" :value="n" :title="'Checkbox ' + n"></f7-list-item>
    </f7-list>

    <f7-block-title>Radio buttons group</f7-block-title>
    <f7-list form>
      <f7-list-item v-for="n in 3" :key="n" radio name="my-radio" :checked="n === 1" :value="n" :title="'Radio ' + n"></f7-list-item>
    </f7-list> -->
    
      <f7-list class="btn-list">
        <button class="button-fill button-big color-blue button">회원가입</button>
      </f7-list>
    </form>
  </f7-page>
</template>

<script>
export default {
  data: () => ({
    email: '',
    password: '',
    password_confirmation: ''
  }),
  methods: {
    checkForm() {
      const { $f7, $validator, $refs, signup } = this;
      $validator.validateAll().then(result => {
        if (result) {
          signup();
          return;
        }
        // auto error input focus
        const errInp = $validator.errors.items[0].field;
        $refs[errInp].$el.children[0].focus();

        // toast error
        $f7.toast
          .create({
            text: $validator.errors.items[0].msg,
            closeButton: true,
            closeButtonText: 'Close',
            closeButtonColor: 'red',
            closeTimeout: 3000
          })
          .open();
      });
    },
    signup() {
      const { $f7, $f7router, email, password } = this;
      $f7.preloader.show();
      db
        .auth()
        .createUserWithEmailAndPassword(email, password)
        .then(() => {
          $f7.preloader.hide();
          $f7router.back();
        })
        .catch(error => {
          $f7.toast
            .create({
              text: error.message,
              closeButton: true,
              closeButtonText: 'Close',
              closeButtonColor: 'red',
              closeTimeout: 3000
            })
            .open();
          $f7.preloader.hide();
        });
    }
  }
};
</script>
