<template>
  <f7-page>
    <f7-navbar title="결제하기" back-link="Back"></f7-navbar>

    <f7-block>개나리 주유소</f7-block>

    <select-gas-type :readonly="true" v-model="orderInfo.gasInfo"></select-gas-type>

    <select-wash-type v-model="orderInfo.washInfo"></select-wash-type>

    <select-discount v-model="orderInfo.discountInfo"></select-discount>

    <select-etc v-model="orderInfo.etcInfo"></select-etc>

    <show-pay-amount :value="orderInfo"></show-pay-amount>

    <select-pay-type v-model="orderInfo.payInfo"></select-pay-type>

    <f7-block>
      <f7-button outline fill @click="onPay()">결제하기</f7-button>
    </f7-block>
  </f7-page>
</template>

<script>
import SelectGasType from '../order/SelectGasType';
import SelectWashType from '../order/SelectWashType';
import SelectDiscount from '../order/SelectDiscount';
import SelectEtc from '../order/SelectEtc';
import ShowPayAmount from '../order/ShowPayAmount';
import SelectPayType from '../order/SelectPayType';

export default {
  components : {
    'select-gas-type' : SelectGasType,
    'select-wash-type' : SelectWashType,
    'select-discount' : SelectDiscount,
    'select-etc' : SelectEtc,
    'show-pay-amount' : ShowPayAmount,
    'select-pay-type' : SelectPayType
  },
  data() {
    return {     
      orderInfo : {
        gasInfo : {
          gasType : 'gasoline',
          refuelBy : 'money',
          refuelAmount : '',
          refuelAmountDirect : ''
        },
        discountInfo : {

        },
        etcInfo : {

        },
        washInfo : {
          washType : '',
          coupone : '',
          point : ''
        },
        payInfo : {
          payWith : 'creditcard',
          installment : 'lumpsum'
        }
      }
    }
  },
  methods : {
    onPay() {
      console.log( this.orderInfo );
      this.$f7router.navigate( '/order-complete/', {
        reloadCurrent : true
      });
    }
  }
}
</script>
