<template>
  <f7-page>
    <f7-navbar title="주문하기" back-link="Back"></f7-navbar>
    <f7-block>
      <f7-button href="/refuel/reserve/" raised big fill>주유</f7-button>
    </f7-block>
    <f7-block>
      <f7-button href="/refuel/find-machine/" raised big fill>내주유기 찾기</f7-button>
    </f7-block>
  </f7-page>
</template>

<script>
export default {
  
}
</script>
