<template>
  <f7-page>
    <f7-navbar title="급유현황" back-link="Back"></f7-navbar>
    <f7-block>
      <div ref="chartEl"></div>
    </f7-block>
    <f7-block>
      <table border="1">
        <tr>
          <td>휘발유 단가</td>
          <td>1650</td>
        </tr>
        <tr>
          <td>휘발유 단가</td>
          <td>1650</td>
        </tr>
        <tr>
          <td>휘발유 단가</td>
          <td>1650</td>
        </tr>
      </table>
    </f7-block>
    <f7-block>
      <f7-button href="/refuel/order-on-refuel/" outline fill>결제하기</f7-button>
    </f7-block>
  </f7-page>
</template>

<script>
export default {
  data() {
    return {
      chart : null
    }
  },
  mounted() {
    var gaugeOptions = {

        chart: {
            type: 'solidgauge'
        },

        title: null,

        pane: {
            center: ['50%', '80%'],
            size: '150%',
            startAngle: -90,
            endAngle: 90,
            background: {
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                innerRadius: '60%',
                outerRadius: '100%',
                shape: 'arc'
            }
        },

        tooltip: {
            enabled: false
        },

        // the value axis
        yAxis: {
            stops: [
                [0.1, '#55BF3B'], // green
                [0.5, '#DDDF0D'], // yellow
                [0.9, '#DF5353'] // red
            ],
            lineWidth: 0,
            minorTickInterval: null,
            tickAmount: 2,
            title: {
                y: 0
            },
            labels: {
                y: 16
            }
        },

        plotOptions: {
            solidgauge: {
                dataLabels: {
                    y: 5,
                    borderWidth: 0,
                    useHTML: true
                }
            }
        }
    };

    var chartSpeed = Highcharts.chart(this.$refs.chartEl, Highcharts.merge(gaugeOptions, {
        chart : {
          height:170
        },
        yAxis: {
            min: 0,
            max: 200,
            title: {
                text: ''
            }
        },

        credits: {
            enabled: false
        },

        series: [{
            name: '급유',
            data: [120],
            dataLabels: {
                y : 50,
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span>' +
                      '<span style="font-size:12px;color:silver">리터</span></div>'
            },
            tooltip: {
                valueSuffix: ' 리터'
            }
        }]

    }));
  },
  methods : {
    
  },
  beforeDestroy() {
    console.log( "refuel display destroy" );
  }
}
</script>
