<template>
  <f7-page>
    <f7-navbar title="서비스 안내" back-link="Back"></f7-navbar>

    <f7-swiper pagination>
      <f7-swiper-slide>
        <p>INFO 1</p>
      </f7-swiper-slide>
      <f7-swiper-slide>
        <p>INFO 2</p>
      </f7-swiper-slide>
      <f7-swiper-slide>
        <p>INFO 3</p>
      </f7-swiper-slide>
    </f7-swiper>
  </f7-page>
</template>

<script>
export default {

}
</script>
