/* Your app styles here */

/* material */
.md {
  .navbar {
    background-color: #333;
    a.color-yellow {
      color: #ffeb3b;
    }
    .title {
      color: #ffeb3b;
    }
    .icon {
      color: #ffeb3b;
    }
  }
  .toolbar {
    background-color: #333;
  }
}

/* common */

// from
select.form-control {
  display: flex;
  width: 100%;
  height: 100%;
  padding-left: 5px;
  appearance: none;
  border-bottom: 1px solid #ddd;
}

// flex
.flex-box {
  display: flex;

  &.row {
    flex-direction: row;
  }
  &.col {
    flex-direction: column;
  }

  .box-item {
    display: flex;
    flex: auto;
  }
}

/* Login Button */
.btn-list {
  padding: 0 16px;
}
.login-screen-content .button-fill {
  margin-top: 5px;
}

/* F7 List */
.md {
  .list-normal {
    margin: 0;

    .item-content {
      padding-left: 0;
    }

    .item-link {
      .item-title-row {
        padding-right: 0;
        background: none;
      }
    }
  }
  .item-inner {
    padding-left: 16px;
  }
}
.list {
  .item-inner {
    position: relative;
  }
  .item-title {
    display: flex;
    align-items: center;
  }
  .item-post {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    flex-direction: column;
    text-align: center;
    
    .icon {
      width: 24px;
    }
    .item-distance {
      display: block;
      font-size: 14px;
      color: #666;
    }
  }
}

/* main */
.main-event {
  background-color: #ffeb3b;
  height: 110px;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-button-next {
    background-size: 10px auto;
  }
  .swiper-button-prev {
    background-size: 10px auto;
  }
}
.main-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc((100vh - 278px) / 2);
  background-color: #222;

  &.link2 {
    background-color: #999;
    .main-link-item {
      color: #222;
    }
  }
  .main-link-item {
    color: #ffeb3b;
  }
}
.main-row {
  display: flex;
  flex-direction: row;
  height: 56px;

  .row-item {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 20px;
      background-color: #ddd;
      top: 50%;
      left: 0;
      margin-top: -10px;
    }

    &:first-child::after {
      display: none;
    }
  }

  .row-item-link {
    display: inline-block;
    visibility: middle;
  }
}

/* gasstation */
.gas-head {
  margin: 10px 16px;
  height: 50px;
  align-items: center;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,.12);
    display: block;
    z-index: 15;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}
.gas-body {
  margin: 10px 16px;

  .gas-map {
    margin-top: 10px;
    height: calc(100vh - 390px);
  }
  .select-btn {
    margin-top: 10px;
  }
}
.gas-dl dt {
  line-height: 25px;
  float: left;
}
.gas-dl dd {
  line-height: 25px;
  padding-left: 15px;
}

.gas-price {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  background-color: #fafafa;
  
  .gas-price-inner {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -20px;
      width: 1px;
      height: 35px;
      background-color: #ddd;
    }
    &:first-child::after {
      display: none;
    }
  
    .text-color-red {
      font-weight: 700;
      font-size: 18px;
    }
  }
}

.gas-search {
  .flex-box {
    margin: 0 16px;
  }
  .addr {
    .box-item {
      height: 35px;
    }
  }
  .box-item {
    flex: 1;

    .form-control {
      margin-left: 5px;
    }

    .searchbar {
      width: 100%;
      margin: 0;

      input {
        padding-left: 15px;
      }
      .searchbar-icon {
        left: auto;
        right: 0;
      }
    }

    &:first-child {
      .from-control {
        margin-left: 0;
      }
    }
    &.onms-btn {
      margin-top: 10px;
    }
    &.btn-box {
      margin-top: 10px;
      height: auto;
      justify-content: space-between;

      .button-fill {
        width: 48%;
      }

      .color-yellow {
        color: #222;
      }
    }
  }
  .map {
    height: 300px;
  }
}

// mypage
.mypage {
  .flex-box {

    .box-item {
      flex: none;
      padding-right: 16px;

      &.title {
        padding: 0 16px;
        font-size: 16px;
      }

      &:first-child {
        flex: 1;
      }
    }
  }
  .card-header {
    .title {
      font-weight: 700;
    }
  }
  .card-content {

    .list {
      a {
        font-weight: 700;
      }
    }
    &::after {
      content: '';
      position: absolute;
      background-color: #e1e1e1;
      display: block;
      z-index: 15;
      top: auto;
      right: auto;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      transform: scaleY(0.5);
    }
  }
  .my-info {
    display: flex;
    flex-direction: column;

    .info-inner {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-size: 15px;
      
      .info-title {
        color: #333;
      }
    }
  }
}