<template>
  <f7-page class="gas-search">
    <f7-navbar title="주유소 찾기" back-link="Back"></f7-navbar>
    <f7-toolbar tabbar>
      <f7-link tab-link="#tab1" tab-active>지도보기</f7-link>
      <f7-link tab-link="#tab2">주유소 검색</f7-link>
    </f7-toolbar>
    <f7-tabs animated>
      <f7-tab id="tab1" tab-active>
        <f7-block-title>현재주소</f7-block-title>
        <div class="flex-box col">
          <div class="box-item">
            <span><f7-icon material="location_on"></f7-icon></span>
            <span>{{maps.addr}}</span>
          </div>
          <div class="box-item map" id="map"></div>
          <div class="box-item btn-box" v-if="maps.addr !== 'Loading...'">
            <button class="button-fill button-big color-yellow button" @click="getAround">목록보기</button>
            <button class="button-fill button-big color-blue button">주유설정</button>
          </div>
        </div>
      </f7-tab>
      <f7-tab id="tab2">
        <f7-block-title>지역선택</f7-block-title>
        <div class="flex-box row addr">
          <div class="box-item">
            <select class="form-control" v-model="osnms.city">
              <option value="all">시/도</option>
              <option v-for="city in osnms.citys" :key="city.AREA_CD" :value="city.AREA_CD">{{city.AREA_NM}}</option>
            </select>
          </div>
        </div>
        <f7-block-title>주유소명</f7-block-title>
        <form @submit.prevent="gasSearch">
          <div class="flex-box col">
            <div class="box-item">
              <div class="searchbar">
                <div class="searchbar-inner">
                  <div class="searchbar-input-wrap">
                    <input type="search" ref="osnm" v-model="osnms.osnm" name="osnm" data-vv-name="주유소명" placeholder="Search" v-validate="'required'">
                  </div>
                </div>
              </div>
            </div>
            <div class="box-item onms-btn">
              <button class="button-fill button-big color-blue button">주유소 찾기</button>
            </div>
          </div>
        </form>
      </f7-tab>
    </f7-tabs>
  </f7-page>
</template>

<script>
import _ from 'lodash';
import area from '@/service/area';
import map from '@/service/map';

export default {
  data: () => ({
    maps: {
      addr: 'Loading...'
    },
    osnms: {
      osnm: null, //검색어
      citys: area,
      city: 'all'
    },
  }),
  mounted() {
    this.createMap();
  },
  methods : {
    getAround() {
      let { $f7router } = this;
      $f7router.navigate(`/gass-around/`);
    },
    async gasSearch() {
      let { osnms, city, $f7, $f7router, $validator, $refs } = this;
      let res = await $validator.validateAll();
      if( res ) {
        $f7router.navigate(`/gass-low?osnm=${osnms.osnm}&area=${osnms.city}`);
      } else {
        $refs.osnm.focus();

        $f7.toast
          .create({
            text: $validator.errors.items[0].msg,
            closeButton: true,
            closeButtonText: 'Close',
            closeButtonColor: 'red',
            closeTimeout: 3000
          })
          .open();
      }
    },
    async createMap() {
      const { $f7, $f7router, createMap, $store, $refs } = this;

      let location = $store.getters.location;

      map.basic('map', location.x, location.y);

      //한글주소 가져오기
      this.maps.addr = (await map.getAddress(location.x, location.y)).address;
    }
  }
}
</script>
