<template>
  <f7-block class="list-view">
    <f7-toolbar tabbar labels bottom-md>
      <f7-link tab-link="#tab1" tab-active @click="sortDistance">거리순</f7-link>
      <f7-link tab-link="#tab2" @click="sortPrice">가격순</f7-link>
    </f7-toolbar>
    <div class="list-view">
      <div class="list media-list list-normal">
        <ul>
          <gass-list v-for="oil in oils" :key="oil.UNI_ID" :col="oil"></gass-list>
        </ul>
      </div>
    </div>
    <f7-tabs>
      <f7-tab id="tab1" tab-active></f7-tab>
      <f7-tab id="tab2"></f7-tab>
    </f7-tabs>
  </f7-block>
</template>

<script>
import _ from 'lodash';
import GassList from './GassList';
 
export default {
  props: {
    data: {}
  },
  data() {
    return {
      oils: [],
    }
  },
  methods: {
    sortDistance() {
      this.oils = _.orderBy(this.data, ['DISTANCE'], ['asc']);
    },
    sortPrice() {
      this.oils = _.orderBy(this.data, ['PRICE'], ['asc']);
    }
  },
  components: {
    GassList
  },
  watch: {
    data() {
      this.sortDistance();
    }
  }
};
</script>