<template>
  <f7-page class="">
    <f7-navbar title="주유소 상세정보" back-link="back"></f7-navbar>
    
    <f7-row class="gas-head">
      <div class="title">
        <f7-icon material="copyright"></f7-icon>
        {{oil.OS_NM}}
      </div>
      <f7-link icon-if-md="material:star_border" color="blue" v-if="!isFavorite" @click="favorites"></f7-link>
      <f7-link icon-if-md="material:star" color="blue" v-if="isFavorite" @click="favorites"></f7-link>
    </f7-row>
    <f7-col class="gas-body">
      <dl class="gas-dl">
        <!-- <dt>
          <f7-icon material="trending_down" size="18"></f7-icon>
          거리:
        </dt>
        <dd>0.6km</dd> -->
        <dt>
          <f7-icon material="add_location" size="18"></f7-icon>
          주소:
        </dt>
        <dd>{{oil.VAN_ADR}}</dd>
        <dt>
          <f7-icon material="phone" size="18"></f7-icon>
          전화:
        </dt>
        <dd>{{oil.TEL}}</dd>
      </dl>
      <div class="gas-bads">
        <f7-badge color="yellow" class="text-color-black">
          <f7-icon material="pan_tool" size="10"></f7-icon>
          셀프
        </f7-badge>
        <f7-badge color="yellow" class="text-color-black">
          <f7-icon material="local_car_wash" size="10"></f7-icon>
          세차
        </f7-badge>
        <f7-badge color="yellow" class="text-color-black">
          <f7-icon material="build" size="10"></f7-icon>
          경정비
        </f7-badge>
        <f7-badge color="yellow" class="text-color-black">
          <f7-icon material="account_balance" size="10"></f7-icon>
          편의점
        </f7-badge>
      </div>
      <div class="gas-price">
        <div class="gas-price-inner" v-for="price in oil.OIL_PRICE" :key="price.PRODCD">
          <div>{{price.PRODCD | prodcd}}</div>
          <div class="text-color-red">{{price.PRICE | price}}원</div>
        </div>
      </div>
      <div class="gas-map" id="maps"></div>
    </f7-col>
  </f7-page>
</template>

<script>
import api from './api';
import tokatech from '@/service/tokatech';
//import map from '@/service/map';

export default {
  data: () => ({
    isFavorite: false,
    oil: {}
  }),
  async mounted() {
    const { $f7, $f7route, $store, $refs } = this;
    const id = $f7route.params.id;

    $f7.dialog.preloader();

    let obj = (await api.detailByid(id)).data;

    this.oil = typeof obj === 'string' ? JSON.parse(obj.replace(/(\r\n|\n|\r|\t)/gm, " ")).RESULT.OIL[0] : obj.RESULT.OIL[0];

    let { oil } = this;

    let location = tokatech(oil.GIS_X_COOR, oil.GIS_Y_COOR, true);

    // var map = new Tmap.Map({
    //   div: 'maps', // map을 표시해줄 div
    //   width: '100%',  // map의 width 설정
    //   height: '400px' // map의 height 설정
    // });

	  /*var markerLayer = new Tmap.Layer.Markers();//마커 레이어 생성
    map.addLayer(markerLayer);//map에 마커 레이어 추가
    map.removeZoomControl();
		   
		var lonlat = new Tmap.LonLat(location.x, location.y).transform("EPSG:4326", "EPSG:3857");//좌표 설정
		var size = new Tmap.Size(24, 38);//아이콘 크기 설정
		var offset = new Tmap.Pixel(-(size.w / 2), -(size.h));//아이콘 중심점 설정
		var icon = new Tmap.Icon('http://tmapapis.sktelecom.com/upload/tmap/marker/pin_b_m_a.png', size,  offset);//마커 아이콘 설정
    var marker = new Tmap.Marker(lonlat, icon);//마커 생성
    map.setCenter(lonlat, 16);
		markerLayer.addMarker(marker);*/

    // console.log(location);

    // map.basic('maps', location.x, location.y);

    $f7.dialog.close();
  },
  methods: {
    favorites() {
      this.isFavorite = !this.isFavorite;
    }
  },
  filters: {
    prodcd(value) {
      let obj = {
        'B027': '휘발유',
        'D047': '경유',
        'B034': '고급휘발유',
        'C004': '실내등유',
        'K015': '자동차부탄'
      }
      return _.find(obj, function(k, v) {
        return v === value;
      });
    },
    price(price) {
      return String(price).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
    }
  }
}
</script>
