<template>
  <f7-page>
    <f7-navbar title="주유소 목록" back-link="Back"></f7-navbar>
    <f7-toolbar tabbar>
      <f7-link tab-link="#tab1" tab-active @click="sortDistance">거리순</f7-link>
      <f7-link tab-link="#tab2" @click="sortPrice">가격순</f7-link>
    </f7-toolbar>
    <div class="list-view">
      <div class="list media-list list-normal">
        <ul>
          <gass-list v-if="oils.length" v-for="oil in oils" :key="oil.UNI_ID" :col="oil"></gass-list>
          <li v-if="isOils">
            <div class="item-inner">
              <div class="item-title-row">
                검색된 결과가 없습니다.
              </div>
            </div>
          </li>
          <infinite-loading @infinite="infiniteHandler" :distance="100"></infinite-loading>
        </ul>
      </div>
    </div>
    <f7-tabs>
      <f7-tab id="tab1" tab-active></f7-tab>
      <f7-tab id="tab2"></f7-tab>
    </f7-tabs>
  </f7-page>
</template>

<script>
import _ from 'lodash';
import api from './api';
import GassList from './GassList';
import InfiniteLoading from 'vue-infinite-loading';

export default {
  data() {
    return {
      oils: [],
      data: {},
      list: [],
      page: 0,
      isOils: false
    }
  },
  methods: {
    infiniteHandler($state) {
      setTimeout(async () => {
        if( this.page == 0 ) {
          const { $f7, $store, $f7route } = this;
          let { osnm, area } = $f7route.query;

          this.list = (await api.searchByName(osnm, area)).data.RESULT.OIL;
        }

        let dataLen = Object.keys(this.list).length;

        this.isOils = dataLen === 0 ? true : false;

        this.page += 10;
        this.data = this.list.slice(0, this.page);

        this.sortDistance();

        if(this.page > dataLen) {
          $state.complete();
        } else {
          $state.loaded();
        }
      }, 1000);
    },
    sortDistance() {
      this.oils = _.orderBy(this.data, ['DISTANCE'], ['asc']);
    },
    sortPrice() {
      this.oils = _.orderBy(this.data, ['PRICE'], ['asc']);
    }
  },
  components: {
    GassList,
    InfiniteLoading
  }
};
</script>