<template>
  <li>
    <a :href="`/gass-view/${col.UNI_ID}`" class="item-link item-content">
      <div class="item-inner">
        <div class="item-title-row">
          <div class="item-title">
            <f7-icon material="account_circle"></f7-icon>
            {{col.OS_NM}}
          </div>
        </div>
        <div class="item-post">
          <span class="item-distance"><f7-icon material="star"></f7-icon></span>
          <span class="item-distance">{{col.DISTANCE | floor}}m</span>
        </div>
        <div class="item-subtitle" v-text="col.VAN_ADR"></div>
        <div class="item-price text-color-red">{{col.PRICE}}(휘발유)</div>
        <div class="item-badge">
          <f7-badge color="yellow" class="text-color-black">
            <f7-icon material="pan_tool" size="10"></f7-icon>
            셀프
          </f7-badge>
          <f7-badge color="yellow" class="text-color-black">
            <f7-icon material="local_car_wash" size="10"></f7-icon>
            세차
          </f7-badge>
          <f7-badge color="yellow" class="text-color-black">
            <f7-icon material="build" size="10"></f7-icon>
            경정비
          </f7-badge>
          <f7-badge color="yellow" class="text-color-black">
            <f7-icon material="account_balance" size="10"></f7-icon>
            편의점
          </f7-badge>
        </div>
      </div>
    </a>
  </li>
</template>

<script>
export default {
  props: {
    col: {}
  },
  filters: {
    floor(value) {
      if (!value) return '';
      return Math.floor(value);
    }
  },
};
</script>