<template>
  <f7-page>
    <f7-navbar title="주유소 목록" back-link="Back"></f7-navbar>
    <f7-toolbar tabbar>
      <f7-link tab-link="#tab1" tab-active @click="sortDistance">거리순</f7-link>
      <f7-link tab-link="#tab2" @click="sortPrice">가격순</f7-link>
    </f7-toolbar>
    <div class="list-view">
      <div class="list media-list list-normal">
        <ul>
          <gass-list v-for="oil in oils" :key="oil.UNI_ID" :col="oil"></gass-list>
        </ul>
      </div>
    </div>
    <f7-tabs>
      <f7-tab id="tab1" tab-active></f7-tab>
      <f7-tab id="tab2"></f7-tab>
    </f7-tabs>
  </f7-page>
</template>

<script>
import _ from 'lodash';
import api from './api';
import tokatech from '@/service/tokatech';
import GassList from './GassList';

export default {
  data() {
    return {
      oils: null,
      data: {}
    }
  },
  created() {
    this.dataInit();
  },
  methods: {
    async dataInit() {
      const { $f7, $store, $f7route } = this;

      $f7.dialog.preloader();

      let location = $store.getters.location;

      location = tokatech(location.x, location.y);

      console.log(location);

      this.data = (await api.aroundAll(location.x, location.y)).data.RESULT.OIL;

      this.sortDistance();

      $f7.dialog.close();
    },
    sortDistance() {
      this.oils = _.orderBy(this.data, ['DISTANCE'], ['asc']);
    },
    sortPrice() {
      this.oils = _.orderBy(this.data, ['PRICE'], ['asc']);
    }
  },
  components: {
    GassList
  }
};
</script>