<template>
  <f7-page class="gas-search" :page-content="false">

    <pop-gass-head :path="route" @back="routeBack"></pop-gass-head>

    <pop-gass-search v-if="!Object.keys(osnm).length" @search="getList"></pop-gass-search>

    <pop-gass-list v-if="Object.keys(osnm).length" v-show="!stationId" :params="osnm" @select="listSelectedId"></pop-gass-list>

    <pop-gass-view v-if="stationId" :viewSelectedId="stationId" @select="selectedStation"></pop-gass-view>

  </f7-page>
</template>

<script>
import PopGassHead from './PopGassHead';
import PopGassSearch from './PopGassSearch';
import PopGassList from './PopGassList';
import PopGassView from './PopGassView';

export default {
  components: {
    PopGassHead,
    PopGassSearch,
    PopGassList,
    PopGassView
  },
  data() {
    return {
      osnm: {},
      stationId: null,
      route: null
    }
  },
  created() {
  },
  methods: {
    getList(params) {
      this.osnm = params;
      this.route = 'list';
    },
    listSelectedId(id) {
      this.stationId = id;
      this.route = 'view';
    },
    selectedStation(station) {
      this.$popupManager.close( this, { station } );
      this.list = null;
      this.id = null;
    },
    routeBack() {
      switch(this.route) {
        case 'list':
          this.osnm = {};
          this.route = null;
          break;
        case 'view':
          this.stationId = null;
          this.route = 'list';
          break;
      }
    }
  }
}
</script>
