<template>
  <f7-page-content class="list-view">
    <div class="list media-list list-normal">
      <ul>
        <li v-for="oil in oils" :key="oil.UNI_ID">
          <a href="#" @click="selectId(oil.UNI_ID)" class="item-link item-content">
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">
                  <f7-icon material="account_circle"></f7-icon>
                  {{oil.OS_NM}}
                </div>
              </div>
              <div class="item-post">
                <span class="item-distance"><f7-icon material="star"></f7-icon></span>
                <span class="item-distance">{{oil.DISTANCE | floor}}m</span>
              </div>
              <div class="item-subtitle" v-text="oil.VAN_ADR"></div>
              <div class="item-price text-color-red">{{oil.PRICE}}(휘발유)</div>
              <div class="item-badge">
                <f7-badge color="yellow" class="text-color-black">
                  <f7-icon material="pan_tool" size="10"></f7-icon>
                  셀프
                </f7-badge>
                <f7-badge color="yellow" class="text-color-black">
                  <f7-icon material="local_car_wash" size="10"></f7-icon>
                  세차
                </f7-badge>
                <f7-badge color="yellow" class="text-color-black">
                  <f7-icon material="build" size="10"></f7-icon>
                  경정비
                </f7-badge>
                <f7-badge color="yellow" class="text-color-black">
                  <f7-icon material="account_balance" size="10"></f7-icon>
                  편의점
                </f7-badge>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </f7-page-content>
</template>
<script>
import api from './api';
import GassList from './GassList';
export default {
  props: {
    params: Object
  },
  data() {
    return {
      oils: []
    }
  },
  components: {
    GassList
  },
  async created() {
    this.$f7.dialog.preloader();
    this.oils = (await api.searchByName(this.params.osnm, this.params.city)).data.RESULT.OIL;
    this.$f7.dialog.close();
  },
  methods: {
    selectId(id) {
      this.$emit('select', id);
    }
  },
  filters: {
    floor(value) {
      if (!value) return '';
      return Math.floor(value);
    }
  }
}
</script>
