<template>
  <f7-page-content>
    <f7-block-title>지역선택</f7-block-title>
    <div class="flex-box row addr">
      <div class="box-item">
        <select class="form-control" v-model="city">
          <option value="all">시/도</option>
          <option v-for="city in citys" :key="city.AREA_CD" :value="city.AREA_CD">{{city.AREA_NM}}</option>
        </select>
      </div>
    </div>
    <f7-block-title>주유소명</f7-block-title>
    <form @submit.prevent="gasSearch">
      <div class="flex-box col">
        <div class="box-item">
          <div class="searchbar">
            <div class="searchbar-inner">
              <div class="searchbar-input-wrap">
                <input type="search" ref="osnm" v-model="osnm" name="osnm" data-vv-name="주유소명" placeholder="Search" v-validate="'required'">
              </div>
            </div>
          </div>
        </div>
        <div class="box-item onms-btn">
            <button class="button-fill button-big color-blue button">주유소 찾기</button>
        </div>
      </div>
    </form>
  </f7-page-content>
</template>

<script>
import area from '@/service/area';
import api from './api';

export default {
  data() {
    return {
      osnm: null, //검색어
      citys: area,
      city: 'all'
    }
  },
  methods: {
    async gasSearch() {
      let { osnm, city, $f7, $validator, $refs } = this;
      let res = await $validator.validateAll();
      if( res ) {
        this.$emit('search', {
          osnm,
          city
        });
      } else {
        $refs.osnm.focus();

        $f7.toast
          .create({
            text: $validator.errors.items[0].msg,
            closeButton: true,
            closeButtonText: 'Close',
            closeButtonColor: 'red',
            closeTimeout: 3000
          })
          .open();
      }
    }
  }
}
</script>
