<template>
  <f7-navbar>
    <f7-nav-left>
      <f7-link v-if="path" @click="$emit('back')">
        <f7-icon material="arrow_back"></f7-icon>
      </f7-link>
    </f7-nav-left>
    <f7-nav-title>주유소 검색</f7-nav-title>
    <f7-nav-right>
      <f7-link popup-close>
        <f7-icon material="close"></f7-icon>
      </f7-link>
    </f7-nav-right>
  </f7-navbar>
</template>

<script>
export default {
  props: {
    path: String
  }
}
</script>
