<template>
  <f7-page-content>
    <f7-row class="gas-head">
      <div class="title">
        <f7-icon material="copyright"></f7-icon>
        {{oil.OS_NM}}
      </div>
      <f7-link icon-if-md="material:star_border" color="blue" v-if="!isFavorite" @click="favorites"></f7-link>
      <f7-link icon-if-md="material:star" color="blue" v-if="isFavorite" @click="favorites"></f7-link>
    </f7-row>
    <f7-col class="gas-body">
      <dl class="gas-dl">
        <!-- <dt>
          <f7-icon material="trending_down" size="18"></f7-icon>
          거리:
        </dt>
        <dd>0.6km</dd> -->
        <dt>
          <f7-icon material="add_location" size="18"></f7-icon>
          주소:
        </dt>
        <dd>{{oil.VAN_ADR}}</dd>
        <dt>
          <f7-icon material="phone" size="18"></f7-icon>
          전화:
        </dt>
        <dd>{{oil.TEL}}</dd>
      </dl>
      <div class="gas-bads">
        <f7-badge color="yellow" class="text-color-black">
          <f7-icon material="pan_tool" size="10"></f7-icon>
          셀프
        </f7-badge>
        <f7-badge color="yellow" class="text-color-black">
          <f7-icon material="local_car_wash" size="10"></f7-icon>
          세차
        </f7-badge>
        <f7-badge color="yellow" class="text-color-black">
          <f7-icon material="build" size="10"></f7-icon>
          경정비
        </f7-badge>
        <f7-badge color="yellow" class="text-color-black">
          <f7-icon material="account_balance" size="10"></f7-icon>
          편의점
        </f7-badge>
      </div>
      <div class="gas-price">
        <div class="gas-price-inner" v-for="price in oil.OIL_PRICE" :key="price.PRODCD">
          <div>{{price.PRODCD | prodcd}}</div>
          <div class="text-color-red">{{price.PRICE | price}}원</div>
        </div>
      </div>
      <div class="gas-map" ref="map"></div>
      <button class="button-fill button-big color-blue button select-btn" @click="selectId(oil)">주유소 선택</button>
    </f7-col>
  </f7-page-content>
</template>
<script>
import _ from 'lodash';
import api from './api';
import map from '@/service/map';
import tokatech from '@/service/tokatech';

export default {
  props: {
    viewSelectedId: String
  },
  data() {
    return {
      isFavorite: false,
      oil: {}
    }
  },
  async mounted() {
    this.$f7.dialog.preloader();

    let obj = (await api.detailByid(this.viewSelectedId)).data;

    this.oil = typeof obj === 'string' ? JSON.parse(obj.replace(/(\r\n\t|\n|\r|\t)/gm, " ")).RESULT.OIL[0] : obj.RESULT.OIL[0];
    
    // let location = tokatech(this.oil.GIS_X_COOR, this.oil.GIS_Y_COOR, true);

    // map.basic(this.$refs.map, location.x, location.y);

    // this.$f7.dialog.close();
  },
  methods: {
    favorites() {
      this.isFavorite = !this.isFavorite;
    },
    selectId(id) {
      this.$emit('select', id);
    }
  },
  filters: {
    prodcd(value) {
      let obj = {
        'B027': '휘발유',
        'D047': '경유',
        'B034': '고급휘발유',
        'C004': '실내등유',
        'K015': '자동차부탄'
      }
      return _.find(obj, function(k, v) {
        return v === value;
      });
    },
    price(price) {
      return String(price).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
    }
  }
}
</script>
