<template>
  <f7-page>
    <f7-navbar title="FAQ" back-link="Back"></f7-navbar>
    
    <f7-block>
      <select v-model="selectedCategory" @change="onCategory()">
        <option :value="''">선택하세요...</option>
        <option v-for="ca in category" :key="ca.name" :value="ca.name">{{ca.name}}</option>
      </select>
      <select v-model="selectedSubCategory" @change="onSubCategory()">
        <option :value="''">선택하세요...</option>
        <option v-for="sub in subCategory" :key="sub.name" :value="sub.name">{{sub.name}}</option>
      </select>
    </f7-block>
    
    <f7-block>
      <f7-list accordion>
        <f7-list-item v-for="item in faqList" :key="item.title" accordion-item :title="item.title"> 
          <f7-accordion-content>{{item.content}}</f7-accordion-content>
        </f7-list-item>
      </f7-list>
    </f7-block>
  </f7-page>
</template>

<script>
import _ from 'lodash';
import { category, faq } from './ServiceData';

export default {
  data() {
    return {
      category : category,
      subCategory : [],
      faqList : [],

      selectedCategory : '',
      selectedSubCategory : ''
    }
  },
  methods : {
    onCategory() {
      let idx = _.findIndex( this.category, item => item.name === this.selectedCategory );
      if( idx >= 0 ) {
        this.subCategory = this.category[idx].children;
      } else {
        this.subCategory = [];
      }
      this.selectedSubCategory = '';
      this.faqList = [];
    },
    onSubCategory() {
      let key = this.selectedCategory + ":" + this.selectedSubCategory;
      this.faqList = faq[key];
    }
  }
}
</script>
