<template>
  <f7-page>
    <f7-navbar title="1:1 문의하기" back-link="Back"></f7-navbar>

    <f7-toolbar tabbar>
      <f7-link tab-link="#question-add" tab-active>문의하기</f7-link>
      <f7-link tab-link="#question-list">문의내역</f7-link>
    </f7-toolbar>
    
    <f7-tabs animated>
      <f7-tab id="question-add" tab-active>
        <question-add></question-add>
      </f7-tab>
      <f7-tab id="question-list">
        <question-list></question-list>
      </f7-tab>
    </f7-tabs>
  </f7-page>
</template>

<script>
import Add from './QuestionAdd';
import List from './QuestionList';

export default {
  components : {
    'question-add' : Add,
    'question-list' : List
  }
}
</script>
