<template>
  <f7-page>
    <f7-navbar title="고객센터" back-link="Back"></f7-navbar>
    
    <f7-list>
      <f7-list-group>
        <f7-list-item title="문의" group-title></f7-list-item>
        <f7-list-item title="FAQ" link="/cservice/faq/"></f7-list-item>
        <f7-list-item title="1:1 문의" link="/cservice/question/"></f7-list-item>
      </f7-list-group>
      <f7-list-group>
        <f7-list-item title="이용약관" group-title></f7-list-item>
        <f7-list-item title="이용약관" link="/cservice/terms/"></f7-list-item>
        <f7-list-item title="개인정보 처리방침"></f7-list-item>
        <f7-list-item title="위치정보 이용동의 약관"></f7-list-item>
      </f7-list-group>
    </f7-list>
  </f7-page>
</template>

<script>
export default {

}
</script>
