<template>
  <div>
    <f7-block>
      <f7-block-header>문의분류</f7-block-header>

      <select v-model="selectedCategory" @change="onCategory()">
        <option :value="''">선택하세요...</option>
        <option v-for="ca in category" :key="ca.name" :value="ca.name">{{ca.name}}</option>
      </select>
      <select v-model="selectedSubCategory">
        <option :value="''">선택하세요...</option>
        <option v-for="sub in subCategory" :key="sub.name" :value="sub.name">{{sub.name}}</option>
      </select>
    </f7-block>

    <f7-block>
      <f7-block-header>제목</f7-block-header>
      <input v-model="title">
    </f7-block>

    <f7-block>
      <f7-block-header>내용</f7-block-header>
      <textarea v-model="content"></textarea>
    </f7-block>

    <f7-block>
      <f7-button outline fill>작성하기</f7-button>
    </f7-block>
  </div>
</template>

<script>
import _ from 'lodash';
import { category, faq } from './ServiceData';

export default {
  data() {
    return {
      category : category,
      subCategory : [],
      selectedCategory : '',
      selectedSubCategory : '',

      title : '',
      content : ''
    }
  },
  methods : {
    onCategory() {
      let idx = _.findIndex( this.category, item => item.name === this.selectedCategory );
      if( idx >= 0 ) {
        this.subCategory = this.category[idx].children;
      } else {
        this.subCategory = [];
      }
      this.selectedSubCategory = '';
      this.faqList = [];
    }
  }
}
</script>
