<template>
  <!-- App -->
  <div id="app">

    <!-- Statusbar -->
    <f7-statusbar></f7-statusbar>

    <!-- Left Panel -->
    <f7-panel left>
      <panel-left></panel-left>
    </f7-panel>

    <!-- Main View -->
    <f7-view id="main-view" url="/" main
             :stackPages="false"
             :pushState="true"
             :pushStateSeparator="'#'"></f7-view>

    <!-- popup anchor -->
    <popup-anchor></popup-anchor>
    
    <!-- Login -->
    <login-popup></login-popup>
  </div>
</template>

<script>
import PanelLeft from '@/pages/panelleft/panel-left.vue';
import LoginPopup from '@/pages/auth/login-popup.vue';

export default {
  components : {
    'panel-left': PanelLeft,
    'login-popup': LoginPopup
  },
  data() {
    return {
      
    }
  }
}
</script>
