<template>
  <f7-page class="mypage">
    <f7-navbar title="비밀번호 변경" back-link="Back"></f7-navbar>
    <f7-list no-hairlines-md>
      <f7-list-item>
        <f7-label>현재 비밀번호</f7-label>
        <f7-input type="text" clear-button></f7-input>
      </f7-list-item>
      <f7-list-item>
        <f7-label>새 비밀번호</f7-label>
        <f7-input type="text" clear-button></f7-input>
      </f7-list-item>
      <f7-list-item>
        <f7-label>새 비밀번호 확인</f7-label>
        <f7-input type="text" clear-button></f7-input>
      </f7-list-item>
    </f7-list>
    <f7-segmented>
      <f7-button fill color="blue">변경</f7-button>
    </f7-segmented>
  </f7-page>
</template>

<script>
export default {
}
</script>