<template>
  <f7-page class="mypage">
    <f7-navbar title="회원정보 변경" back-link="Back"></f7-navbar>
    <f7-block-title>홍길동님의 정보</f7-block-title>
    <div class="card">
      <div class="card-header">
        <div class="title">회원정보</div>
        <div class="box-item">test@test.com</div>
      </div>
      <div class="card-header">
        <div class="title">차량번호</div>
        <div class="box-item">
          <input type="text" value="10가1234" class="text-align-right">
        </div>
      </div>
      <div class="card-header">
        <div class="title">유종</div>
        <div class="box-item">
          <select class="form-control">
            <option value="">휘발유</option>
          </select>
        </div>
      </div>
      <div class="card-header">
        <div class="title">차종</div>
        <div class="box-item">
          <select class="form-control">
            <option value="">경차</option>
          </select>
        </div>
      </div>
    </div>
  </f7-page>
</template>

<script>
export default {
}
</script>
