<template>
  <f7-page class="mypage">
    <f7-navbar title="주문내역" back-link="Back"></f7-navbar>
    <f7-block-title>고객님의 주문사용내역 입니다.</f7-block-title>
    <div class="data-table">
      <table>
        <thead>
          <tr>
            <th>주문일자</th>
            <th>주유소</th>
            <th>금액</th>
            <th>처리상태</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2017.06.10</td>
            <td>개나리</td>
            <td>50,000</td>
            <td>사용완료</td>
          </tr>
        </tbody>
      </table>
    </div>
  </f7-page>
</template>

<script>
export default {
}
</script>