<template>
  <f7-page class="mypage">
    <f7-navbar title="터치다운 포인트내역" back-link="Back"></f7-navbar>
    <f7-block-title>고객님의 주문사용내역 입니다.</f7-block-title>
    <div class="data-table">
      <table>
        <thead>
          <tr>
            <th>날짜</th>
            <th>유형</th>
            <th>적립/사용</th>
            <th>잔여</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2017.06.10</td>
            <td>설치형</td>
            <td>5,000</td>
            <td>13,200</td>
          </tr>
        </tbody>
      </table>
    </div>
  </f7-page>
</template>

<script>
export default {
}
</script>