<template>
  <f7-page class="mypage">
    <f7-navbar title="주문내역" back-link="Back"></f7-navbar>
    <f7-block-title>결제내역</f7-block-title>
    <div class="data-table">
      <table>
        <thead>
          <tr>
            <th>항목</th>
            <th>금액</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>주유금액</td>
            <td>42,000원</td>
          </tr>
          <tr>
            <td>KIS 특별할인</td>
            <td>-2,000원</td>
          </tr>
          <tr>
            <td>불스워샷</td>
            <td>10,000원</td>
          </tr>
          <tr>
            <td>결제금액</td>
            <td>5,000원</td>
          </tr>
        </tbody>
      </table>
    </div>
    <f7-segmented>
      <f7-button fill color="blue">취소하기</f7-button>
    </f7-segmented>
  </f7-page>
</template>

<script>
export default {
}
</script>