<template>
  <f7-page class="mypage">
    <f7-navbar title="마이페이지" back-link="Back"></f7-navbar>
    <div class="card">
      <div class="card-header">
        <div class="title">회원정보</div>
        <div class="box-item">
          <a href="/my/change-info/" class="button button-fill button-small color-blue">변경</a>
        </div>
      </div>
      <div class="card-content card-content-padding">
        <div class="my-info">
          <div class="info-inner">
            <div class="info-title">고객명</div>
            <div class="info-after">홍길동</div>
          </div>
          <div class="info-inner">
            <div class="info-title">아이디</div>
            <div class="info-after">test@test.com</div>
          </div>
          <div class="info-inner">
            <div class="info-title">차량번호</div>
            <div class="info-after">10가1234</div>
          </div>
          <div class="info-inner">
            <div class="info-title">유종</div>
            <div class="info-after">휘발유</div>
          </div>
          <div class="info-inner">
            <div class="info-title">차종</div>
            <div class="info-after">경차</div>
          </div>
        </div>
      </div>
      <div class="card-header">
        <div class="title">비밀번호</div>
        <div class="box-item">
          <a href="/my/change-pw/" class="button button-fill button-small color-blue">변경</a>
        </div>
      </div>
      <div class="card-header">
        <div class="title">전화번호</div>
        <div class="box-item">
          <a href="" class="button button-fill button-small color-blue">변경</a>
        </div>
      </div>
      <div class="card-header">
        <div class="title">마케팅 수신동의</div>
      </div>
      <div class="card-content card-content-padding">
        <div class="my-info">
          <div class="info-inner">
            <div class="info-title">SMS 수신</div>
            <div class="info-after">
              <f7-toggle checked></f7-toggle>
            </div>
          </div>
          <div class="info-inner">
            <div class="info-title">전화 수신</div>
            <div class="info-after">
              <f7-toggle></f7-toggle>
            </div>
          </div>
        </div>
      </div>
      <div class="card-content">
        <div class="list links-list">
          <ul>
            <li><a href="/my/history-order/">주문내역</a></li>
            <li><a href="/my/history-point/">터치다운 포인트내역</a></li>
          </ul>
        </div>
      </div>
    </div>
  </f7-page>
</template>

<script>
export default {
  methods: {
  }
}
</script>
