<template>
  <f7-page>
    <f7-navbar title="Notice List" back-link="Back"></f7-navbar>
    <f7-list>
      <f7-list-item v-for="item in list" :key="item" :title="item"></f7-list-item>
      <infinite-loading @infinite="infiniteHandler" :distance="100"></infinite-loading>
    </f7-list>
  </f7-page>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading';

export default {
  data() {
    return {
      list: [],
    };
  },
  methods: {
    infiniteHandler($state) {
      setTimeout(() => {
        const temp = [];
        for (let i = this.list.length + 1; i <= this.list.length + 20; i++) {
          temp.push(i);
        }
        this.list = this.list.concat(temp);
        $state.loaded();
      }, 1000);
    },
  },
  components: {
    InfiniteLoading,
  },
};
</script>
